{% extends "base.html" %} {% block styles %}
<link rel="preload" href="/static/css/company_classic.css" as="style" />
<link rel="preload" href="/static/js/public.js" as="script" />
<link rel="stylesheet" type="text/css" href="/static/css/company_classic.css" />
{% endblock %} {% block ld_breadcrumb %}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": {{seo.ld_breadcrumb|tojson|safe}}
  }
</script>
{% endblock %} {% block body %}

<h1 data-controller="it-works">Base Name</h1>

<div data-controller="hello">
  <input data-hello-target="name" type="text" />
  <input data-hello-target="coolStuff" type="text" />
  <button data-action="click->hello#greet">Greet</button>
</div>

<span
  data-cy="headerRecruiterLinkPublish"
  data-controller="atc"
  data-atc-l-value={{ "https://example.com"|seo_crypt }}
  class="atc-m sm:atc-s sm:rounded-xs sm:p-2"
>
  My CTA hidden for google
</span>

<span
data-controller="atc-experiment"
data-atc-experiment-l-value={{ "https://example.com"|seo_crypt }}
data-atc-experiment-t-value={{ "_blank"|seo_crypt }}
>
    My CTA Experiment
</span>

{% endblock %} {% block extra_js %}{{ vite_asset('seo.ts') }} {% endblock %}
